{{if .Site.Params.homepage.showSocialLinksHome}}
<div id="social-media-links">
{{if .Site.Params.social.facebook}}
    <p class="icon-box"><a target="_blank" href="{{ .Site.Params.social.facebook }}">
        <img class="social-media-icons" src="/social/facebook.svg" alt="Facebook">
    </a></p>
{{end}}
{{if .Site.Params.social.x}}
    <p><a target="_blank" href="{{ .Site.Params.social.x }}">
        <img class="social-media-icons" src="/social/x.svg" alt="X (Twitter)">
    </a></p>
{{end}}
{{if .Site.Params.social.instagram}}
    <p><a target="_blank" href="{{ .Site.Params.social.instagram }}">
        <img class="social-media-icons" src="/social/instagram.svg" alt="Instagram">
    </a></p>
{{end}}
{{if .Site.Params.social.linkedin}}
    <p><a target="_blank" href="{{ .Site.Params.social.linkedin }}">
        <img class="social-media-icons" src="/social/linkedin.svg" alt="LinkedIn">
    </a></p>
{{end}}
{{if .Site.Params.social.youtube}}
    <p><a target="_blank" href="{{ .Site.Params.social.youtube }}">
        <img class="social-media-icons" src="/social/youtube.svg" alt="YouTube">
    </a></p>
{{end}}
{{if .Site.Params.social.tiktok}}
    <p><a target="_blank" href="{{ .Site.Params.social.tiktok }}">
        <img class="social-media-icons" src="/social/tiktok.svg" alt="TikTok">
    </a></p>
{{end}}
{{if .Site.Params.social.github}}
    <p><a target="_blank" href="{{ .Site.Params.social.github }}">
        <img class="social-media-icons" src="/social/github.svg" alt="GitHub">
    </a></p>
{{end}}
{{if .Site.Params.social.reddit}}
    <p><a target="_blank" href="{{ .Site.Params.social.reddit }}">
        <img class="social-media-icons" src="/social/reddit.svg" alt="Reddit">
    </a></p>
{{end}}
{{if .Site.Params.social.pinterest}}
    <p><a target="_blank" href="{{ .Site.Params.social.pinterest }}">
        <img class="social-media-icons" src="/social/pinterest.svg" alt="Pinterest">
    </a></p>
{{end}}
{{if .Site.Params.social.snapchat}}
    <p><a target="_blank" href="{{ .Site.Params.social.snapchat }}">
        <img class="social-media-icons" src="/social/snapchat.svg" alt="Snapchat">
    </a></p>
{{end}}
{{if .Site.Params.social.discord}}
    <p><a target="_blank" href="{{ .Site.Params.social.discord }}">
        <img class="social-media-icons" src="/social/discord.svg" alt="Discord">
    </a></p>
{{end}}
{{if .Site.Params.social.twitch}}
    <p><a target="_blank" href="{{ .Site.Params.social.twitch }}">
        <img class="social-media-icons" src="/social/twitch.svg" alt="Twitch">
    </a></p>
{{end}}
{{if .Site.Params.social.telegram}}
    <p><a target="_blank" href="{{ .Site.Params.social.telegram }}">
        <img class="social-media-icons" src="/social/telegram.svg" alt="Telegram">
    </a></p>
{{end}}
{{if .Site.Params.social.whatsapp}}
    <p><a target="_blank" href="{{ .Site.Params.social.whatsapp }}">
        <img class="social-media-icons" src="/social/whatsapp.svg" alt="WhatsApp">
    </a></p>
{{end}}
{{if .Site.Params.social.mastodon}}
    <p><a target="_blank" href="{{ .Site.Params.social.mastodon }}">
        <img class="social-media-icons" src="/social/mastodon.svg" alt="Mastodon">
    </a></p>
{{end}}
{{if .Site.Params.social.bluesky}}
    <p><a target="_blank" href="{{ .Site.Params.social.bluesky }}">
        <img class="social-media-icons" src="/social/bluesky.svg" alt="Bluesky">
    </a></p>
{{end}}
{{if .Site.Params.social.threads}}
    <p><a target="_blank" href="{{ .Site.Params.social.threads }}">
        <img class="social-media-icons" src="/social/threads.svg" alt="Threads">
    </a></p>
{{end}}
{{if .Site.Params.social.medium}}
    <p><a target="_blank" href="{{ .Site.Params.social.medium }}">
        <img class="social-media-icons" src="/social/medium.svg" alt="Medium">
    </a></p>
{{end}}
</div>

{{end}}


