name: Hugo Build

on:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.152.2'
          extended: true
      - name: Build
        run: hugo --minify
      - name: Upload public artifact
        uses: actions/upload-artifact@v4
        with:
          name: public
          path: public
